<header>

  <title>Our ProjectsDetails!</title>

</header>
<body>
<main>
  <div>
    <h2>ProjectsChildrenDetails</h2>
    <p>Das sind die Details zu dem <br>Projekt Children!</p>
  </div>

  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Project One" mat-align-tabs="center">Erstes Projekt</mat-tab>
    <mat-tab label="Project Two">Zweites Projekt</mat-tab>
    <mat-tab label="Project three">Drittes Projekt</mat-tab>

  </mat-tab-group>

<!--
  <ol>
    <li>
      <mat-form-field>
        <mat-label>What's your name?</mat-label>
        <input matInput [(ngModel)]="name">
      </mat-form-field>
    </li>
    <li>
      <button mat-raised-button (click)="openDialog()">Pick one</button>
    </li>
    <li *ngIf="animal">
      You chose: <i>{{animal}}</i>
    </li>
  </ol>

  -->

</main>
</body>


