body {

  margin: 50px;
  background-color: yellow;

}
button {
  position: center;
}
main {

}
div {
  text-align: center;
  background-color: #f5f5f5;
}
mat-tab-group {
  background-color: green;
}
mat-tab {
  text-align: center;
}
