<html>
<head>

</head>
<header>
  <title>OUR CONTACTS!!</title>
</header>
<body>

<section>
  <article class="details">
    <h2>DIE HOFFUNG SCHEINT UNENDLICH</h2>
    <h2>(Tschingis Aitmatow)</h2>


  </article>

</section>

<div>

  <h1>Charity Event</h1>
  <h2>Spendenkonto</h2>
  <p>IBAN: AT61 2011 1829 5062 <br>BIC: GIBAATWWXXX</p>
  <h1>Online Spenden</h1>
  <p>Eine Spende gleich direkt überweisen!</p>
  <p>Prinzipiell haben wir auf jede Spende dirkten Einfluss<br> diese zielgerichtet zu verwenden. Anonyme Spenden können aus <br> rechtlicher Sicht nicht angenommen werden.</p>
  <p>Wir bedanken uns für ihr Verständniss!</p>


</div>




</body>
</html>



