body {

  padding: 20px;
  background-color: lightgray;
  box-sizing: border-box;

}
mat-grid-tile {

}
mat-grid-list {

}
.nav-item {

}
a {
  color: chocolate;

}
article {
  float: left;

  padding: 40px;
  margin: 10px;
  background: blue;

}
section {
  content: "";
  display: table;
  clear: both;
  background: green;

}

